@use '../abstract' as *;

// Custom variables
// Colors
$clr-1: #000000;
$clr-1-05: #0000000d;
$clr-2: #ffffff;
$clr-3: #4880ff;
$clr-4: #202224;
$clr-5: #e0e0e0;
$clr-6: #d8d8d8;
$clr-7: #f93c65;
$clr-7-61: #f93c659c;
$clr-8: #404040;
$clr-9: #565656;
$clr-10: #d5d5d5;
$clr-11: #f5f6fa;
$clr-12: #646464;
$clr-13: #5c5c5c;
$clr-14: #8280ff;
$clr-14-21: #8280ff36;
$clr-15: #606060;
$clr-16: #00b69b;
$clr-17: #fec53d;
$clr-17-21: #fec53d36;
$clr-18: #4ad991;
$clr-18-21: #4ad99136;
$clr-19: #ff9066;
$clr-19-30: #ff90664d;
$clr-20: #fcfdfd;
$clr-21: #2b3034;
$clr-21-40: #2b303466;
$clr-22: #f1f4f9;
$clr-23: #979797;
$clr-23-40: #97979766;
$clr-24: #fcbe2d;
$clr-25: #fd5454;
$clr-26: #b9b9b9;

// Font families
$ff-1: 'Nunito Sans', sans-serif;

// Font weights
$fw-1: 600;
$fw-2: 700;
$fw-3: 500;

// Font sizes
$fs-1: 16px;
$fs-2: 14px;
$fs-3: 12px;
$fs-4: 32px;
$fs-5: 28px;
$fs-6: 24px;
$fs-7: 20px;

// Responsive font sizes
$fsr-1: clamp($fs-5, 1.68rem + 0.35vw, $fs-4);

// Basic styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-1;
  font-weight: $fw-1;
}

body {
  min-height: 100svh;
}

ul {
  list-style: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  word-break: break-word;
}

input,
select,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

/* Original container for a full webpage */
.container {
  max-width: 1470px;
  margin-inline: auto;
  padding-inline: 15px;
}
