@use '../abstract' as *;

// Custom variables
// Colors
$clr-1: #000000;
$clr-2: #ffffff;
$clr-3: #4880ff;
$clr-4: #202224;
$clr-5: #e0e0e0;
$clr-6: #d8d8d8;
$clr-7: #f93c65;
$clr-7-61: #f93c659c;
$clr-8: #404040;
$clr-9: #565656;
$clr-10: #d5d5d5;
$clr-11: #f5f6fa;
$clr-12: #646464;
$clr-13: #5c5c5c;

// Font families
$ff-1: 'Nunito Sans', sans-serif;

// Font weights
$fw-1: 600;
$fw-2: 700;

// Font sizes
$fs-1: 16px;
$fs-2: 14px;
$fs-3: 12px;

// Responsive font sizes
// $fsr-1: clamp($fs-1, 0.466rem + 3.3vw, $fs-2);

// Basic styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-1;
  font-weight: $fw-1;
}

body {
  min-height: 100svh;
}

ul {
  list-style: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  word-break: break-word;
}

input,
select,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

/* Original container for a full webpage */
.container {
  max-width: 1470px;
  margin-inline: auto;
  padding-inline: 15px;
}
