@use "./boilerplate" as *;

.default-page {
  & .wrapper {
    display: flex;
    padding-inline: unset;
  }
}

main {
  width: 100%;
  background: $clr-11;
  min-height: 100svh;
  position: relative;
}

.main-sidebar {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  flex-shrink: 0;
  transition: 0.2s;

  @media (max-width: 768px) {
    display: none;
  }

  &.collapsed {
    max-width: 110px;

    & .pages {
      padding-inline: 15px;
    }

    & .page-button {
      justify-content: center;
      padding: 13px 10px 12px;

      &::before {
        left: -21px;
      }
    }

    & .page-button-span {
      display: none;
    }

    & .main-heading {
      left: -15px;
      width: calc(100% + 30px);
      text-align: center;
    }
  }

  & .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    & > svg {
      width: 90px;
      height: 25px;
    }
  }

  & .pages {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
  }

  & .pages-item {
    &:first-child {
      & .page-button {
        cursor: pointer;
      }
    }
  }
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background: $clr-3;
  padding: 15px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../../images/icons/shapes.svg) center/cover no-repeat;
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 630px;
    border: 0.3px solid $clr-26;
    border-radius: 24px;
    background: $clr-2;
    padding: 102px 106px;
    z-index: 10;

    @media (max-width: 576px) {
      padding: 70px;
    }

    @media (max-width: 480px) {
      padding: 50px;
    }

    & > svg {
      max-width: 390px;
      width: 100%;
      margin-bottom: 98px;

      @media (max-width: 576px) {
        margin-bottom: 50px;
      }

      @media (max-width: 480px) {
        margin-bottom: 30px;
      }
    }
  }

  & .not-found-page-span {
    font-weight: $fw-2;
    font-size: $fs-4;
    letter-spacing: 0em;
    color: $clr-4;
    margin-bottom: 35px;
    text-align: center;
  }

  & .not-found-page-link {
    border-radius: 8px;
    background: $clr-3;
    opacity: 0.9;
    padding: 14px;
    font-weight: $fw-2;
    font-size: $fs-7;
    letter-spacing: 0em;
    text-align: center;
    color: $clr-2;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.page-button {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 6px;
  padding: 13px 16px 12px;
  position: relative;
  transition: 0.3s;
  cursor: not-allowed;

  &:hover {
    background: $clr-5;
  }

  &.active {
    background: $clr-3;

    &::before {
      content: "";
    }

    & .page-button-span {
      color: $clr-2;
    }

    & .page-button-figure {
      & > svg > path {
        fill: $clr-2;
      }
    }
  }

  &::before {
    position: absolute;
    left: -30px;
    height: 100%;
    background: $clr-3;
    border-radius: 4px;
    width: 9px;
  }

  & .page-button-figure {
    width: 22px;
    height: 25px;
  }

  & .page-button-span {
    font-size: $fs-2;
    letter-spacing: 0.02em;
    color: $clr-4;
  }
}

.main-heading {
  padding: 32px 16px 16px;
  position: relative;

  &.no-text {
    padding-bottom: unset;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -24px;
    width: calc(100% + 24px);
    height: 0.6px;
    background: $clr-5;
  }

  & .main-heading-span {
    font-weight: $fw-2;
    font-size: $fs-3;
    letter-spacing: 0.02em;
    color: $clr-4;
    opacity: 0.6;
  }
}

.home-content {
  width: 100%;
  height: 100%;

  & .content {
    padding: 30px 32px;

    @media (max-width: 576px) {
      padding: 25px 20px;
    }
  }

  & .content-heading {
    margin-bottom: 27px;
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1400px) {
      gap: 25px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}

.content-heading {
  font-weight: $fw-2;
  font-size: $fsr-1;
  letter-spacing: 0em;
  color: $clr-4;
}

.main-header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 13px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: $clr-2;

  @media (max-width: 1200px) {
    padding: 13px 18px;
  }

  @media (max-width: 576px) {
    padding: 7px 12px;
  }

  & .left {
    display: flex;
    align-items: center;
  }

  & .left-figure {
    display: flex;
    height: 100%;
    cursor: pointer;
    padding: 9px 5px;
    margin-right: 14px;

    @media (max-width: 1200px) {
      margin-right: 10px;
    }

    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: flex;
    }

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  & .search {
    width: 388px;
    height: 38px;
    display: flex;
    gap: 13px;
    align-items: center;
    border: 0.6px solid $clr-10;
    border-radius: 19px;
    background: $clr-11;
    padding: 11px 16px;

    @media (max-width: 1200px) {
      width: 280px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  & .search-figure {
    display: flex;
    cursor: pointer;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  & .search-input {
    width: 100%;
    background: transparent;
  }

  & .right {
    display: flex;
    align-items: center;
  }

  & .right-figure {
    position: relative;
    margin-right: 31px;
    cursor: pointer;
    user-select: none;

    @media (max-width: 1200px) {
      margin-right: 25px;
    }

    & > svg {
      width: 24px;
      height: 25px;
    }
  }

  & .right-figure-span {
    background: $clr-7;
    font-weight: $fw-2;
    font-size: $fs-3;
    color: $clr-2;
    border-radius: 50%;
    padding: 1px 5px;
    position: absolute;
    top: -6px;
    right: -6px;
  }

  & .language {
    display: flex;
    align-items: center;
    margin-right: 27px;
    cursor: pointer;
    user-select: none;

    @media (max-width: 1200px) {
      margin-right: 18px;
    }

    @media (max-width: 768px) {
      display: none;
    }

    & > svg {
      width: 9px;
      height: 15px;
    }
  }

  & .language-figure {
    width: 40px;
    height: 27px;
    background: $clr-6;
    border-radius: 5px;
    margin-right: 16px;
    flex-shrink: 0;

    @media (max-width: 1200px) {
      margin-right: 12px;
    }

    & > svg {
      border-radius: inherit;
    }
  }

  & .language-span {
    font-size: $fs-2;
    color: $clr-12;
    margin-right: 11px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  & .profile {
    display: flex;
    align-items: center;
    gap: 26px;
    cursor: pointer;
    user-select: none;

    @media (max-width: 1200px) {
      gap: 18px;
    }
  }

  & .profile-content {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: 1200px) {
      gap: 12px;
    }
  }

  & .profile-content-figure {
    width: 44px;
    height: 44px;
    background: $clr-3;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 10px;

    & > svg > path {
      fill: $clr-2;
    }
  }

  & .profile-popper {
    & .MuiPaper-elevation {
      box-shadow: unset;
      border-radius: 14px;
    }

    & .list {
      border-radius: inherit;
      min-width: 205px;
      box-shadow: 0 9px 40px 0 $clr-1-10;
      background: $clr-2;
      display: flex;
      flex-direction: column;
      user-select: none;
    }

    & .list-item {
      padding: 12px 20px 14px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 0.5px solid $clr-23-25;
      cursor: not-allowed;

      &:last-child {
        border-bottom: unset;
      }

      & > svg {
        max-width: 18px;
        height: 16px;
      }
    }
  }

  & .language-popper {
    & .MuiPaper-elevation {
      box-shadow: unset;
      border-radius: 14px;
    }

    & .list {
      border-radius: inherit;
      min-width: 254px;
      box-shadow: 0 9px 40px 0 $clr-1-10;
      background: $clr-2;
      display: flex;
      flex-direction: column;
      user-select: none;
    }

    & .list-item {
      padding: 15px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: not-allowed;

      &.title {
        padding: 14px 20px 13px;
        border-bottom: 0.5px solid $clr-23-25;
      }

      & > svg {
        width: 18px;
        height: 13px;
      }
    }

    & .title-span {
      font-weight: $fw-4;
      font-size: $fs-8;
      color: $clr-8;
    }

    & .list-item-content {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    & .list-item-content-figure {
      width: 44px;
      height: 30px;
      background: $clr-6;
    }

    & .list-item-content-span {
      font-size: $fs-2;
      color: $clr-8;
    }
  }

  & .notification-popper {
    & .MuiPaper-elevation {
      box-shadow: unset;
      border-radius: 14px;
    }

    & .list {
      border-radius: inherit;
      min-width: 254px;
      box-shadow: 0 9px 40px 0 $clr-1-10;
      background: $clr-2;
      display: flex;
      flex-direction: column;
      user-select: none;
    }

    & .list-item {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: not-allowed;

      &:nth-child(2) {
        & .list-item-figure {
          background: linear-gradient(180deg, $clr-29 0%, $clr-28 100%);

          & > svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      &:nth-child(3) {
        & .list-item-figure {
          background: linear-gradient(180deg, $clr-30 0%, $clr-31 100%);
        }
      }

      &:nth-child(4) {
        & .list-item-figure {
          background: linear-gradient(180deg, $clr-32 0%, $clr-33 100%);
        }
      }

      &:nth-child(5) {
        & .list-item-figure {
          background: linear-gradient(180deg, $clr-34 0%, $clr-35 100%);
        }
      }

      &.title {
        padding: 14px 20px;
        border-bottom: 0.5px solid $clr-23-25;
      }

      &.more {
        padding: 14px 20px;
        border-top: 0.5px solid $clr-23-25;
        justify-content: center;
      }

      & .more-span {
        font-weight: $fw-4;
        font-size: $fs-9;
        color: $clr-36;
      }
    }

    & .title-span {
      font-size: $fs-8;
      color: $clr-8;
    }

    & .list-item-figure {
      width: 36px;
      height: 36px;
      padding: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    & .list-item-desc {
      display: flex;
      flex-direction: column;
    }

    & .list-item-desc-title {
      font-size: $fs-2;
      color: $clr-4;
      margin-bottom: 1px;
    }

    & .list-item-desc-span {
      font-size: $fs-3;
      color: $clr-27;
    }
  }

  & .desc {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  & .desc-text {
    font-weight: $fw-2;
    font-size: $fs-2;
    color: $clr-8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  }

  & .desc-span {
    font-size: $fs-3;
    color: $clr-9;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  }

  & .profile-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid $clr-13;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    & > svg {
      width: 6px;
      height: 4px;
    }
  }
}

.main-drawer-container {
  & .MuiDrawer-paper {
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: $clr-3;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $clr-2;
    }
  }
}

.main-drawer {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  position: relative;

  & .logo {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    margin-left: 24px;

    & > svg {
      width: 101px;
      height: 27px;
    }
  }

  & .main-drawer-figure {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
    border: 2px solid $clr-4;
    border-radius: 50%;

    & > svg {
      width: 30px;
      height: 30px;
    }
  }

  & .pages {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
  }

  & .search {
    display: none;
    width: 100%;
    height: 38px;
    gap: 13px;
    align-items: center;
    border: 0.6px solid $clr-10;
    border-radius: 19px;
    background: $clr-11;
    padding: 11px 16px;
    margin-block: 7px;

    @media (max-width: 576px) {
      display: flex;
    }
  }

  & .search-input {
    width: 100%;
    background: transparent;
  }

  & .language {
    display: flex;
    align-items: center;
    padding: 13px 14px 12px;
    cursor: pointer;

    & > svg {
      width: 9px;
      height: 15px;
    }
  }

  & .language-figure {
    width: 40px;
    height: 27px;
    background: $clr-6;
    border-radius: 5px;
    margin-right: 12px;
    flex-shrink: 0;

    & > svg {
      border-radius: inherit;
    }
  }

  & .language-span {
    font-size: $fs-2;
    color: $clr-12;
    margin-right: 11px;
  }
}

.dashboard-card {
  border-radius: 14px;
  box-shadow: 6px 6px 54px 0 $clr-1-05;
  background: $clr-2;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &:first-of-type {
    & .top-figure {
      background: $clr-14-21;
    }
  }

  &:nth-of-type(2) {
    & .top-figure {
      background: $clr-17-21;
    }
  }

  &:nth-of-type(3) {
    & .top-figure {
      background: $clr-18-21;
    }
  }

  &:nth-of-type(4) {
    & .top-figure {
      background: $clr-19-30;
    }
  }

  & .top {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 29px;
    justify-content: space-between;
  }

  & .top-desc {
    display: flex;
    flex-direction: column;
  }

  & .top-desc-span {
    color: $clr-4;
    margin-bottom: 16px;
  }

  & .number {
    font-weight: $fw-2;
    font-size: $fs-5;
    letter-spacing: 0.04em;
    color: $clr-4;

    @media (max-width: 1400px) {
      font-size: $fs-6;
    }
  }

  & .top-figure {
    border-radius: 23px;
    width: 60px;
    height: 60px;
    padding-inline: 16px;

    @media (max-width: 1400px) {
      width: 50px;
      height: 50px;
      padding-inline: 12px;
    }
  }

  & .bottom {
    display: flex;
    gap: 8px;
    align-items: center;

    &.up {
      & .bottom-text-span {
        color: $clr-16;
      }
    }
  }

  & .bottom-figure {
    display: flex;

    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  & .bottom-text {
    color: $clr-15;
  }
}

.sales-chart {
  border-radius: 14px;
  background: $clr-2;
  box-shadow: 6px 6px 54px 0 $clr-1-05;
  padding: 37px 32px;
  margin-top: 30px;

  @media (max-width: 768px) {
    padding: 30px 20px;
  }

  @media (max-width: 480px) {
    padding: 20px 15px;
  }

  & > canvas {
    width: 100% !important;
    height: 370px;

    @media (max-width: 576px) {
      height: 320px;
    }

    @media (max-width: 480px) {
      height: 300px;
    }
  }
}

.deals-card {
  border-radius: 14px;
  background: $clr-2;
  box-shadow: 6px 6px 54px 0 $clr-1-05;
  display: flex;
  flex-direction: column;
  padding: 37px 32px;
  margin-top: 28px;

  & .deals-card-heading {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 35px;
  }

  & .deals-card-heading-title {
    font-weight: $fw-2;
    font-size: $fs-6;
    line-height: 83%;
    color: $clr-4;
  }

  & .select {
    border: 0.6px solid $clr-10;
    border-radius: 4px;
    padding: 9px 16px;
    background: $clr-20;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;

    & > svg {
      width: 10px;
      height: 10px;

      & > path {
        fill: $clr-21-40;
      }
    }
  }

  & .select-span {
    font-weight: $fw-3;
    font-size: $fs-3;
    line-height: 83%;
    color: $clr-21-40;
  }

  & .table-container {
    box-shadow: unset;
  }

  & .table {
    & * {
      font-family: "Nunito Sans", sans-serif;
    }

    & .MuiTableRow-head {
      border-radius: 12px;
      background: $clr-22;
    }

    & .MuiTableCell-head {
      font-weight: $fw-2;
      font-size: $fs-2;
      color: $clr-4;
      line-height: unset;
      border-bottom: unset;

      &:first-child {
        padding-left: 24px;
        border-radius: 12px 0 0 12px;
      }

      &:last-child {
        padding-right: 24px;
        text-align: center;
      }
    }

    & .MuiTableCell-body {
      padding: 24px 16px 20px;
      border-bottom: 0.4px solid $clr-23-40;
      font-size: $fs-2;
      color: $clr-4;
      opacity: 0.8;

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
        text-align: center;
      }

      &:has(.profile) {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
      }
    }

    & .profile {
      border-radius: 18px;
      width: 36px;
      height: 36px;
      background: $clr-6;
      flex-shrink: 0;
    }

    & .status {
      padding: 4px 15px;
      font-weight: $fw-2;
      font-size: $fs-2;
      color: $clr-2;
      border-radius: 13px;
      min-width: 93px;
      white-space: nowrap;
      background: $clr-4;

      &.Delivered {
        background: $clr-16;
      }

      &.Pending {
        background: $clr-24;
      }

      &.Rejected {
        background: $clr-25;
      }
    }
  }
}
