@use "./boilerplate" as *;

.home-page {
  & .wrapper {
    display: flex;
  }
}

.sidebar-main {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 24px;

  & .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  & .pages {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
  }
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;

  & .not-found-page-link {
    text-decoration: underline;
  }
}

.image-logo {
  width: 120px;
  height: 27px;
}

.page-button {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 6px;
  padding: 13px 16px 12px;
  position: relative;
  transition: 0.3s;

  &:hover {
    background: $clr-5;
  }

  &.active {
    background: $clr-3;

    &::before {
      content: "";
    }

    & .page-button-span {
      color: $clr-2;
    }

    & .page-button-figure {
      & svg path {
        fill: $clr-2;
      }
    }
  }

  &::before {
    position: absolute;
    left: -44px;
    height: 100%;
    background: $clr-3;
    border-radius: 4px;
    width: 9px;
  }

  & .page-button-figure {
    width: 22px;
    height: 25px;
  }

  & .page-button-span {
    font-size: $fs-2;
    letter-spacing: 0.02em;
    color: $clr-4;
  }
}

.main-heading {
  padding: 32px 16px 16px;
  position: relative;

  &.no-text {
    padding-bottom: unset;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -24px;
    width: calc(100% + 24px);
    height: 0.6px;
    background: $clr-5;
  }

  & .main-heading-span {
    font-weight: $fw-2;
    font-size: $fs-3;
    letter-spacing: 0.02em;
    color: $clr-4;
    opacity: 0.6;
  }
}
