@use "./boilerplate" as *;

.default-page {
  & .wrapper {
    display: flex;
    padding-inline: unset;
  }
}

main {
  width: 100%;
  background: $clr-11;
  min-height: 100svh;
  position: relative;
}

.main-sidebar {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    display: none;
  }

  &.collapsed {
    max-width: 110px;

    & .pages {
      padding-inline: 15px;
    }

    & .page-button {
      justify-content: center;
      padding: 13px 10px 12px;

      &::before {
        left: -21px;
      }
    }

    & .page-button-span {
      display: none;
    }

    & .logo-image {
      width: 90px;
      height: 25px;
    }

    & .main-heading {
      left: -15px;
      width: calc(100% + 30px);
      text-align: center;
    }
  }

  & .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  & .pages {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
  }
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;

  & .not-found-page-link {
    text-decoration: underline;
  }
}

.logo-image {
  width: 101px;
  height: 27px;
}

.page-button {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 6px;
  padding: 13px 16px 12px;
  position: relative;
  transition: 0.3s;

  &:hover {
    background: $clr-5;
  }

  &.active {
    background: $clr-3;

    &::before {
      content: "";
    }

    & .page-button-span {
      color: $clr-2;
    }

    & .page-button-figure {
      & svg path {
        fill: $clr-2;
      }
    }
  }

  &::before {
    position: absolute;
    left: -30px;
    height: 100%;
    background: $clr-3;
    border-radius: 4px;
    width: 9px;
  }

  & .page-button-figure {
    width: 22px;
    height: 25px;
  }

  & .page-button-span {
    font-size: $fs-2;
    letter-spacing: 0.02em;
    color: $clr-4;
  }
}

.main-heading {
  padding: 32px 16px 16px;
  position: relative;

  &.no-text {
    padding-bottom: unset;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -24px;
    width: calc(100% + 24px);
    height: 0.6px;
    background: $clr-5;
  }

  & .main-heading-span {
    font-weight: $fw-2;
    font-size: $fs-3;
    letter-spacing: 0.02em;
    color: $clr-4;
    opacity: 0.6;
  }
}

.home-content {
  width: 100%;
  height: 100%;

  & .content {
    padding: 30px 32px;

    @media (max-width: 576px) {
      padding: 25px 20px;
    }
  }

  & .content-heading {
    margin-bottom: 27px;
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1400px) {
      gap: 25px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}

.content-heading {
  font-weight: $fw-2;
  font-size: $fsr-1;
  letter-spacing: 0em;
  color: $clr-4;
}

.main-header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 13px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: $clr-2;

  @media (max-width: 1200px) {
    padding: 13px 18px;
  }

  @media (max-width: 576px) {
    padding: 7px 12px;
  }

  & .left {
    display: flex;
    gap: 24px;
    align-items: center;

    @media (max-width: 1200px) {
      gap: 20px;
    }
  }

  & .left-figure {
    display: flex;
    height: 100%;
    cursor: pointer;

    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  & .search {
    width: 388px;
    height: 38px;
    display: flex;
    gap: 13px;
    align-items: center;
    border: 0.6px solid $clr-10;
    border-radius: 19px;
    background: $clr-11;
    padding: 11px 16px;

    @media (max-width: 1200px) {
      width: 280px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  & .search-figure {
    display: flex;
    cursor: pointer;
  }

  & .search-input {
    width: 100%;
    background: transparent;
  }

  & .right {
    display: flex;
    align-items: center;
  }

  & .right-figure {
    position: relative;
    margin-right: 31px;
    cursor: pointer;

    @media (max-width: 1200px) {
      margin-right: 25px;
    }
  }

  & .notification-image {
    width: 24px;
    height: 25px;
  }

  & .right-figure-span {
    background: $clr-7;
    font-weight: $fw-2;
    font-size: $fs-3;
    color: $clr-2;
    border-radius: 50%;
    padding: 1px 5px;
    position: absolute;
    top: -6px;
    right: -6px;
  }

  & .language {
    display: flex;
    align-items: center;
    margin-right: 27px;
    cursor: pointer;

    @media (max-width: 1200px) {
      margin-right: 18px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  & .language-figure {
    width: 40px;
    height: 27px;
    background: $clr-6;
    border-radius: 5px;
    margin-right: 16px;
    flex-shrink: 0;

    @media (max-width: 1200px) {
      margin-right: 12px;
    }
  }

  & .language-span {
    font-size: $fs-2;
    color: $clr-12;
    margin-right: 11px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  & .profile {
    display: flex;
    align-items: center;
    gap: 26px;

    @media (max-width: 1200px) {
      gap: 18px;
    }
  }

  & .profile-content {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: 1200px) {
      gap: 12px;
    }
  }

  & .profile-content-figure {
    width: 44px;
    height: 44px;
    background: $clr-6;
    border-radius: 50%;
    flex-shrink: 0;
  }

  & .desc {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  & .desc-text {
    font-weight: $fw-2;
    font-size: $fs-2;
    color: $clr-8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  }

  & .desc-span {
    font-size: $fs-3;
    color: $clr-9;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  }

  & .profile-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid $clr-13;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    & .arrow-down-image {
      width: 6px;
      height: 4px;
    }
  }
}

.search-image {
  width: 16px;
  height: 16px;
}

.arrow-down-image {
  width: 9px;
  height: 15px;
}

.menu-image {
  width: 20px;
  height: 20px;
}

.main-drawer-container {
  & .MuiDrawer-paper {
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: $clr-3;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $clr-2;
    }
  }
}

.main-drawer {
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  position: relative;

  & .logo {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    margin-left: 24px;
  }

  & .main-drawer-figure {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
    border: 2px solid $clr-4;
    border-radius: 50%;
  }

  & .pages {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
  }

  & .search {
    display: none;
    width: 100%;
    height: 38px;
    gap: 13px;
    align-items: center;
    border: 0.6px solid $clr-10;
    border-radius: 19px;
    background: $clr-11;
    padding: 11px 16px;
    margin-block: 7px;

    @media (max-width: 576px) {
      display: flex;
    }
  }

  & .search-input {
    width: 100%;
    background: transparent;
  }

  & .language {
    display: flex;
    align-items: center;
    padding: 13px 14px 12px;
    cursor: pointer;
  }

  & .language-figure {
    width: 40px;
    height: 27px;
    background: $clr-6;
    border-radius: 5px;
    margin-right: 12px;
    flex-shrink: 0;
  }

  & .language-span {
    font-size: $fs-2;
    color: $clr-12;
    margin-right: 11px;
  }
}

.close-image {
  width: 30px;
  height: 30px;
}

.dashboard-card {
  border-radius: 14px;
  box-shadow: 6px 6px 54px 0 $clr-1-05;
  background: $clr-2;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &:first-of-type {
    & .top-figure {
      background: $clr-14-21;
    }
  }

  &:nth-of-type(2) {
    & .top-figure {
      background: $clr-17-21;
    }
  }

  &:nth-of-type(3) {
    & .top-figure {
      background: $clr-18-21;
    }
  }

  &:nth-of-type(4) {
    & .top-figure {
      background: $clr-19-30;
    }
  }

  & .top {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 29px;
    justify-content: space-between;
  }

  & .top-desc {
    display: flex;
    flex-direction: column;
  }

  & .top-desc-span {
    color: $clr-4;
    margin-bottom: 16px;
  }

  & .number {
    font-weight: $fw-2;
    font-size: $fs-5;
    letter-spacing: 0.04em;
    color: $clr-4;

    @media (max-width: 1400px) {
      font-size: $fs-6;
    }
  }

  & .top-figure {
    border-radius: 23px;
    width: 60px;
    height: 60px;
    padding-inline: 16px;

    @media (max-width: 1400px) {
      width: 50px;
      height: 50px;
      padding-inline: 12px;
    }
  }

  & .bottom {
    display: flex;
    gap: 8px;
    align-items: center;

    &.up {
      & .bottom-text-span {
        color: $clr-16;
      }
    }
  }

  & .bottom-figure {
    display: flex;
  }

  & .bottom-text {
    color: $clr-15;
  }
}

.graph3-image {
  width: 24px;
  height: 24px;
}

.sales-chart {
  border-radius: 14px;
  background: $clr-2;
  box-shadow: 6px 6px 54px 0 $clr-1-05;
  padding: 37px 32px;
  margin-top: 30px;

  @media (max-width: 768px) {
    padding: 30px 20px;
  }

  @media (max-width: 480px) {
    padding: 20px 15px;
  }

  & > canvas {
    width: 100%;
    height: 370px;

    @media (max-width: 576px) {
      height: 320px;
    }

    @media (max-width: 480px) {
      height: 300px;
    }
  }
}
